@page
@model RecipeRecalculator.CurrentIngredientsModel
@{
    ViewData["Title"] = "CurrentIngredients";
}

@using RecipeRecalculator.Controllers
@using RecipeRecalculator.Models
@using System.Web


@{ 
    var fields = new List<Ingredient>();

    for (int i = 0; i < BasicInfoController.recipes[0].NumIngredients; i++)
    {
        fields.Add(new Ingredient());       // Create an empty list of ingredient objects
    }

    // Source of help: https://stackoverflow.com/questions/51775643/how-to-pass-model-list-to-controller
}

<div class="text-center">
    <h1 class="display-4 mb-4">Now Tell Us About The Ingredients of @HttpUtility.HtmlDecode(BasicInfoController.recipes[0].Name)</h1>
    <form name="ingredientsForm" method="POST" enctype="application/x-www-form-urlencoded">

        @for (int i = 1; i <= BasicInfoController.recipes[0].NumIngredients; i++)
        {
                <div class="form-row mt-4 mb-4">
                    <div class="col">
                        <label for="@fields[(i-1)].Name">Name of Ingredient # @i</label>
                        <input type="text" asp-for="@fields[(i-1)].Name" id="nameOfIngredient @i" class="form-control text-center" required />
                    </div>
                    <div class="col">
                        <label for="@fields[(i-1)].AmountBeforeConversion">Amount of Ingredient # @i</label>
                        <input type="number" asp-for="@fields[(i-1)].AmountBeforeConversion" id="amountOfIngredient @i" class="form-control text-center" placeholder="1.00" step="0.01" min="0.01" required />
                    </div>
                    <div class="col">
                        <label for="@fields[(i-1)].Unit">Unit of Measure of Ingredient # @i</label>
                        <select class="custom-select" asp-for="@fields[(i-1)].Unit" required>
                            <option disabled selected>Select the appropriate unit of measure</option>
                            <option value="Grams">Grams</option>
                            <option value="Milligrams">Milligrams</option>
                            <option value="Kilograms">Kilograms</option>
                            <option value="Quarts">Quarts</option>
                        </select>
                    </div>
                </div>
        }

        <button type="submit" class="btn btn-primary mb-4 my-3">Generate New Recipe</button>
    </form>
</div>

