@page
@model RecipeRecalculator.CurrentIngredientsModel
@{
    ViewData["Title"] = "CurrentIngredients";
}

@using RecipeRecalculator.Controllers
@using RecipeRecalculator.Models
@using System.Web


@{ 
    var fields = new List<Ingredient>();

    for (int i = 0; i < BasicInfoController.recipes[0].NumIngredients; i++)
    {
        fields.Add(new Ingredient());       // Create an empty list of ingredient objects
    }

    // Source of help: https://stackoverflow.com/questions/51775643/how-to-pass-model-list-to-controller
}

<div class="text-center">
    <h1 class="display-4 mb-4">Now Tell Us About The Ingredients of @HttpUtility.HtmlDecode(BasicInfoController.recipes[0].Name)</h1>
    <form name="ingredientsForm" method="POST" enctype="application/x-www-form-urlencoded">

        @for (int i = 1; i <= BasicInfoController.recipes[0].NumIngredients; i++)
        {
                <div class="form-row mt-4 mb-4">
                    <div class="col">
                        <label for="@fields[(i-1)].Name">Name of Ingredient # @i</label>
                        <input type="text" asp-for="@fields[(i-1)].Name" id="nameOfIngredient @i" class="form-control text-center" required />
                    </div>
                    <div class="col">
                        <label for="@fields[(i-1)].AmountBeforeConversion">Amount of Ingredient # @i</label>
                        <input type="number" asp-for="@fields[(i-1)].AmountBeforeConversion" id="amountOfIngredient @i" class="form-control text-center" placeholder="1.00" step="0.01" min="0.01" required />
                    </div>
                    <div class="col">
                        <label for="@fields[(i-1)].Unit">Unit of Measure of Ingredient # @i</label>
                        <select class="custom-select" asp-for="@fields[(i-1)].Unit" required>
                            <option disabled selected>Select the appropriate unit of measure</option>
                            <optgroup label="Weight - Imperial">
                                <option value="Ounces (oz)">Ounces (oz)</option>
                                <option value="Pounds (lbs)">Pounds (lbs)</option>
                                <option value="Tons (t)">Tons (t)</option>
                            </optgroup>
                            <optgroup label="Weight - Metric">
                                <option value="Milligrams (mg)">Milligrams (mg)</option>
                                <option value="Grams (g)">Grams (g)</option>
                                <option value="Kilograms (kg)">Kilograms (kg)</option>
                            </optgroup>
                            <optgroup label="Volume - Imperial">
                                <option value="Pints (pt)">Pints (pt)</option>
                                <option value="Quarts (qt)">Quarts (qt)</option>
                                <option value="Gallons (gal)">Gallons (gal)</option>
                            </optgroup>
                            <optgroup label="Volume - Metric">
                                <option value="Milliliters (mL)">Milliliters (mL)</option>
                                <option value="Liters (L)">Liters (L)</option>
                            </optgroup>
                            <optgroup label="Miscellaneous">
                                <option value="Pinches">Pinches</option>
                                <option value="Dollops">Dollops</option>
                                <option value="Other">Other</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
        }

        <button type="submit" class="btn btn-primary mb-4 my-3">Generate New Recipe</button>
    </form>
</div>

