@page
@model RecipeRecalculator.ResultsModel
@{
    ViewData["Title"] = "Results";
}

@using RecipeRecalculator.Controllers
@using System.Web


<div class="text-center">
    <h1 class="display-4 mb-4">Here is your new recipe for @HttpUtility.HtmlDecode(BasicInfoController.recipes[0].Name) that now serves @BasicInfoController.recipes[0].NumPeopleNew people!</h1>

    @for (int i = 0; i < BasicInfoController.recipes[0].NumIngredients; i++)
    {
        <div class="form-row mt-4 mb-4">
            <div class="col">
                <label for="Name">Name of Ingredient # @(i+1)</label>
                <input type="text" class="form-control text-center" placeholder="@HttpUtility.HtmlDecode(BasicInfoController.recipes[0].IngredientsList[i].Name)" readonly />
            </div>
            <div class="col">
                <label for="AmountAfterConversion">New Amount of Ingredient # @(i+1)</label>
                <input type="number" class="form-control text-center" placeholder="@BasicInfoController.recipes[0].IngredientsList[i].AmountAfterConversion" readonly />
            </div>
            <div class="col">
                <label for="Unit">Unit of Measure of Ingredient # @(i+1)</label>
                <input type="text" class="form-control text-center" placeholder="@BasicInfoController.recipes[0].IngredientsList[i].Unit" readonly />
            </div>
        </div>
    }

</div>